# Secrets
backend/.env
**/.env
.env
*.env
*.key
*.pem

# Dependencies
node_modules/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker files (including because user wants full deployment support)
# Dockerfile
# .dockerignore
docker-compose.yml

# Large Binary Files
sell_buy/ui_price_model.pkl
sell_buy/ui_encoders.pkl
ai_assistant/nlp/car_booking_model.pkl
ai_assistant/nlp/parcel_model.pkl
